.aboutUsMainText {
  display: flex;
  flex-direction: column;
  padding: 4vw 0;
  width: 100%;
}

@media (max-width: 1024px) {
  .aboutUsMainText {
    padding: 6vw 0;
  }
}

@media (max-width: 576px) {
  .aboutUsMainText {
    padding: 10vw 0;
  }
}

.container {
  max-width: 70vw;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 95vw;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 90vw;
    margin: 0 auto;
  }
}

.header {
  h2 {
    font-size: 2.1vw;
    color: var(--main-page-b-color-darkGrey);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-small2);
  }
}

@media (max-width: 1024px) {
  .header {
    h2 {
      font-size: 4vw;
    }
  }
}

@media (max-width: 576px) {
  .header {
    h2 {
      font-size: 8vw;
    }
  }
}

.textBlock {
  display: flex;
  flex-direction: column;
  margin-top: 1.75vw;
}

@media (max-width: 1024px) {
  .textBlock {
    margin-top: 3vw;
  }
}

@media (max-width: 576px) {
  .textBlock {
    margin-top: 6vw;
  }
}

.text {
  font-size: 0.8vw;
  color: var(--main-page-b-color-lightGrey);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-lineh-big);
  margin-top: 0.8vw;

  &:first-child {
    margin-top: 0;
  }
}

@media (max-width: 1024px) {
  .text {
    font-size: 1.8vw;
    margin-top: 3vw;
  }
}

@media (max-width: 576px) {
  .text {
    font-size: 3.6vw;
    margin-top: 6vw;
  }
}
