@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-VariableFont_opsz_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Italic-VariableFont_opsz_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('/fonts/Mulish/Mulish-VariableFont_wght.woff2') format('woff2');
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('/fonts/Mulish/Mulish-Italic-VariableFont_wght.woff2') format('woff2');
  font-weight: 200 1000;
  font-style: italic;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* overflow: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

:root {
  --font-Jakarta: 'Mulish';
  --font-Inter: 'Inter';
  --font-lineh-small: 1em;
  --font-lineh-small2: 1.2em;
  --font-lineh-normal: 1.4em;
  --font-lineh-big: 1.7em;

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-smallStrong: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --color-white: white;
  --color-lightGray: #d1dae8;
  --color-light-lightGray: #f0f4fa;
  --color-darkGray: #0f1c35;
  --color-black: #000000;
  --main-page-b-color-darkGrey: #1e293b;
  --main-page-b-color-lightGrey: #6b7280;
  --main-page-b-color-white7: #f3f4f6;

  --color-blue: #0075ff;
  --color-gray: #a0aec0;
  --color-grayOpacity20: rgba(160, 174, 192, 0.2);
  --color-lightGreen: #01b574;
  --color-orange: #dd9819;
  --color-red: #a01212;
  --color-red-main: #ff2543;
  --color-red-main-dark: #ff254326;
  --color-dashboard-background: #121212;
  --color-dashboard-background-block: #1f1f1f;
  --color-dashboard-background-buttons: #444444;
  --color-dashboard-background-icon: #121212;
  --color-dashboard-border-buttons: rgba(160, 174, 192, 0.15);

  /* styles for Main Page */
  --main-page-color-white: white;
  --main-page-color-light-lightGrey: #e5e7eb;
  --main-page-color-background-light: #f8fafc;
  --main-page-color-blue: #1e3a8a;
  --main-page-color-lightBlue: #3b82f6;
  --main-page-color-lightGrey: #6b7280;
  --main-page-color-darkGrey: #1f2937;
  --main-page-color-success-green: #10b981;
  --main-page-color-accent-orange: #f97316;

  /* styles for Main Page B */
  --main-page-b-color-white: white;
  --main-page-b-color-white2: #f1f5f9;
  --main-page-b-color-white3: #f8fafc;
  --main-page-b-color-white4: #e2e8f0;
  --main-page-b-color-white5: #e0f2fe;
  --main-page-b-color-white6: #fcfcfd;

  --main-page-b-color-white-opacity95: rgba(255, 255, 255, 0.95);
  --main-page-b-color-white-opacity98: rgba(255, 255, 255, 0.98);

  --main-page-b-color-darkGrey2: #1d2530;
  --main-page-b-color-darkGrey3: #1d2025;

  --main-page-b-color-grey: #e1e7ef4d;

  --main-page-b-color-lightGrey2: #e5e7eb;
  --main-page-b-color-lightGrey3: #777c98;
  --main-page-b-color-lightGrey4: #d4dcfc;
  --main-page-b-color-lightBlue: #3b82f6;
  --main-page-b-color-lightBlue2: #4b78f4;
  --main-page-b-color-lightBlue3: #0068f01a;
  --main-page-b-color-lightBlue4: #61a6fa;
  --main-page-b-color-lightBlue5: #3c83f6;
  --main-page-b-color-lightBlue6: #07b6d5;
  --main-page-b-color-lightBlue7: #3c8af4;
  --main-page-b-color-blue1: #0068f0;
  --main-page-b-color-blue2: #2463eb;

  --main-page-b-color-hashtag: #6366f1;
  --main-page-b-color-light-lightBlue: #64748b;
  --main-page-b-color-light-lightBlue2: #475569;
  --main-page-b-color-light-lightBlue3: #bae6fd;
  --main-page-b-color-light-lightBlue4: #94a3b8;
  --main-page-b-color-light-lightBlue5: #dbeafe;
  --main-page-b-color-green: #10b981;
  --main-page-b-color-green2: #16a249;
  --main-page-b-color-green3: #15803d;
  --main-page-b-color-lightGreen: #f0fdf4;
  --main-page-b-color-lightGreen2: #dcfce7;
  --main-page-b-color-red: #ef4444;
  --main-page-b-color-lightRed: #fef2f2;
  --main-page-b-color-purple: #570df8;

  --auto-page-color-darkGrey: #0d1117;
  --auto-page-orange: #ffa929;
  --auto-page-orange2: #f97316;
  --auto-page-lightBlue: #066ff9;
  --auto-page-lightBlue2: #3587f3;
  --auto-page-color-lightRed: #fef2f2;
  --auto-page-color-red: #ef4444;
  --auto-page-color-light-lightBlue5: #dbeafe;

  --main-page-b-color-blue: #1e3a8a;
  --main-page-b-color-blue3: #1e53cf;
}

.app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  // background: url(public/images/body-background.png) 0% 0% / cover;
  background-color: var(--color-dashboard-background);
  // backdrop-filter: blur(10vw) brightness(40%);

  .main-content {
    // width: calc(100% - 10vw);
    padding-left: 14vw;
    padding-right: 1.5vw;
    width: 100%;
    margin-top: 0.75vw;

    .content {
      margin: 0 auto;

      h2 {
        font-size: 1.2vw;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          padding: 10px;
          background-color: #fff;
          margin-bottom: 10px;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

.loader-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  div {
    width: 16px;
    height: 16px;
    margin: 6px;
    border-radius: 50%;
    background: #4f46e5;
    animation: bounce 1.2s infinite ease-in-out;
  }

  div:nth-child(1) {
    animation-delay: -0.36s;
  }
  div:nth-child(2) {
    animation-delay: -0.24s;
  }
  div:nth-child(3) {
    animation-delay: -0.12s;
  }
  div:nth-child(4) {
    animation-delay: 0;
  }
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0.6);
    opacity: 0.6;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
