.blockTitle {
  display: flex;
  flex-direction: column;
  padding: 4vw 0;
  padding-bottom: 0;
}

.container {
  max-width: 70vw;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 95vw;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 90vw;
    margin: 0 auto;
  }
}

.back {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.65vw;
  color: var(--color-red-main);
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-normal);
  letter-spacing: 0.04em;
  gap: 0.25vw;
  transition: 0.2s ease-in-out;

  & .backIcon {
    color: var(--color-red-main);
    width: 0.65vw;
    height: 0.65vw;
  }

  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: 1024px) {
  .back {
    font-size: 1.8vw;
    letter-spacing: 0.04em;
    gap: 0.5vw;

    & .backIcon {
      width: 2vw;
      height: 2vw;
    }

    &:hover {
      opacity: 1;
    }
  }
}

@media (max-width: 576px) {
  .back {
    font-size: 3.6vw;
    letter-spacing: 0.04em;
    gap: 1vw;
    line-height: var(--font-lineh-small);

    & .backIcon {
      width: 4vw;
      height: 4vw;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.header {
  .subTitle {
    font-size: 0.7vw;
    color: var(--color-red-main);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-small2);
    letter-spacing: 0.15vw;
    text-transform: uppercase;
  }

  h2 {
    font-size: 2.1vw;
    color: var(--main-page-b-color-darkGrey);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-small2);
    margin-top: 0.5vw;
  }

  p {
    font-size: 0.85vw;
    margin: 0 auto;
    color: var(--main-page-b-color-lightGrey);
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineh-big);
    margin-top: 0.5vw;
  }
}

@media (max-width: 1024px) {
  .header {
    .subTitle {
      font-size: 1.6vw;
      letter-spacing: 0.3vw;
    }

    h2 {
      font-size: 4vw;
      margin-top: 1vw;
    }

    p {
      font-size: 1.8vw;
      margin-top: 1vw;
    }
  }
}

@media (max-width: 576px) {
  .header {
    .subTitle {
      font-size: 3vw;
      letter-spacing: 0.5vw;
    }

    h2 {
      font-size: 8vw;
      margin-top: 1.5vw;
    }

    p {
      font-size: 3.6vw;
      margin-top: 1.5vw;
    }
  }
}
